<section class="trip-trails-all">
  <% @trips.each do |trip| %>
    <section id="trip-trail-<%= trip.id %>">
      <p><%= link_to trip.name, "/trips/#{trip.id}" %></p>
    </section>
  <% end %>
</section>
