<section class="hike-trip-all">
  <% @trips.each do |trip| %>
    <section id="hike-trip-<%= trip.id %>">
      <p><%= link_to trip.name, "/trips/#{trip.id}" %></p>
    </section>
  <% end %>
</section>
